<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Discrete Mathematical Systems </title>
    <link href = "{{ url_for('static', filename='styles/Style.css')}}" rel="stylesheet" />
</head>
<body>
    <h1> Discrete Mathematical Systems </h1>

    <canvas id = "latticeRegion" width = "400" height = "800"></canvas>  <!-- Display region for the latices -->










    <script src= "../static/generateLattice.js"></script> <!-- This is the code for finding the next nattice-->
	<script src="../static/displayLattice.js"></script> <!-- since Python can't be enbedded into a website javascript will be frontend  -->

</body>
</html>
