/* Conway styles page */
/* General formatting */
body {
    background-color: whitesmoke;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  hr {
    margin: 0;
    border: none;
    background-color: black;
    height: 3px;
    margin-bottom: 10px;
  }