/* Conway styles page */
/* General formatting */
body {
  background-color: #97b88b ;
  margin: 0;
  font-family: Arial, sans-serif;
}
hr {
  margin: 0;
  border: none;
  background-color: black;
  height: 3px;
}
ul {
  margin: 0 2.25%;
  font-family: Times;
  font-size: 20px;
  line-height: 1.5;
  text-align: left;
  color: black;
}
.head {
  background-color: #6b8e23;
}
/* Slider formatting */
.slider_wrapper {
  border: 1px solid black;
  border-radius: 10px;
  padding: 4px;
  display: inline-block;
  margin-left: 1.5%;
  margin-right: 1.5%;
}
.gol_slider_container {
  text-align: center;
}
/* Large button formatting: used for secondary tool bar */
.simulation_button {
  background-color: #7b4b33;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  border: 1px solid black;
  border-radius: 20px;
  margin-left: 1.5%;
  margin-right: 1.5%;
}
.simulation_button:hover {
  cursor: pointer;
  background-color: #5a3c1d;
}
.start_button {
  background-color: #228b22;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  border: 1px solid black;
  border-radius: 20px;
  margin-left: 1.5%;
  margin-right: 1.5%;
}
.start_button:hover {
  cursor: pointer;
  background-color: #1c6e42;
}
.stop_button {
  background-color: #b22222;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  border: 1px solid black;
  border-radius: 20px;
  margin-left: 1.5%;
  margin-right: 1.5%;
}
.stop_button:hover {
  cursor: pointer;
  background-color: #8b1a1a;
}
/* Set Library images */
#library1234 {
  background-image: url("../images/1234.png");
}
#library101{
  background-image: url("../images/101.png");
}
#libraryTubstretcher{
  background-image: url("../images/Tubstretcher.png");
}
#librarySnail{
  background-image: url("../images/Snail.png");
}
#library119P4H1V0{
  background-image: url("../images/119P4H1V0.png");
}
#libraryAK94Gun{
  background-image: url("../images/AK94.png");
}
#library4gto5gReaction{
  background-image: url("../images/4gto5g.png");
}
#library60P312{
  background-image: url("../images/60P312.png");
}
#library295P5H1V1{
  background-image: url("../images/295P5H1V1.png");
}
#libraryTrigger{
  background-image: url("../images/Trigger.png");
}