/* Global styles page linked to entire website */
/* General formatting */
header {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}
p {
  margin: 0 4%;
  font-family: Times;
  text-align: left;
  font-size: 20px;
  line-height: 1.5;
  color: black;
}
.p1 {
  margin: 0;
  font-family: Times;
  text-align: center;
  font-size: 17px;
  line-height: 1.7;
  color: black;
}
.p2 {
  margin: 0;
  display: block;
  font-family: Times;
  text-align: center;
  line-height: 1.5;
  font-size: 22px;
  color: black;
}
.p3 {
  margin: 12px 6% 0 6%;
  font-family: Times;
  text-align: left;
  font-size: 22px;
  line-height: 1.5;
  display: inline-block;
  color: black;
}
.p4 {
  margin: 0 8%;
  font-family: Times;
  text-align: left;
  font-size: 22px;
  line-height: 1.5;
  display: inline-block;
  color: black;
}
.p5 {
  margin: 0;
  font-family: Times;
  text-align: center;
  font-size: 17px;
  line-height: 1.2;
  color: black;
}
h1 {
  margin: 0;
  padding: 20px;
  background-color: #4682b4;
  font-family: Times;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: whitesmoke;
}
h2 {
  margin: 0;
  font-family: Times;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: black;
}
h3 {
  margin: 12px 0 12px 2%;
  font-family: Times;
  font-size: 26px;
  text-align: left;
  color: black;
}
h4 {
  margin: 6px 0 12px 0;
  font-family: Times;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: black;
}
h5 {
  margin: 0;
  font-family: Times;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  color: black;
}
h6 {
  margin: 8px 0 0 4%;
  font-family: Times;
  font-size: 32px;
  text-align: left;
  color: black;
}
a {
  color: black;
}
.subtitle {
  margin: 0;
  font-family: Times;
  font-size: 28px;
  line-height: 1.2;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  color: black;
}
/* Navigation formatting */
.navbar {
  display: flex;
  background-color: black;
  overflow: hidden;
  height: 60px;
}
.navbar a:not(.logo) {
  font-size: 18px;  
  text-align: center;
  float: left;
  display: block;
  color: whitesmoke;
  padding: 24px 24px;
  text-decoration: none;
}
.navbar a:not(.logo):hover {
  background-color: lightgray;
  color: black;
}
/* Navbar logo formatting */
.logo {
  height: 100%;
  width: auto;
}
/* Simulation dropdown and button formatting in navigation bar */
.navbar .dropdown {
  float: left;
  overflow: hidden;
  z-index: 4;
}
.navbar .drop_button {
  margin: 0;
  font-size: 18px;
  border: none;
  outline: none;
  color: whitesmoke;
  padding: 24px 24px;
  background-color: inherit;
}
.navbar .dropdown_item {
  display: none;
  position: absolute;
  top: 60px;
  background-color: #f9f9f9;
  min-width: 125px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.navbar .dropdown_item a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.navbar .dropdown_item a:hover {
  background-color: #ddd;
}
.navbar .dropdown:hover .dropdown_item {
  display: block;
}
/* Window formatting */ 
.about_container, .library_container {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
  z-index: 3;
}
.about_content, .library_content {
  background-color: #fefefe;
  margin: 7% auto;
  border: 2px solid #888;
  padding: 1% 1% 1% 1%;
  width: 65%;
}
.close {
  color: #aaa;
  float: right;
  font-size: 36px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* Library preset button formatting */
.library_img {
  background-image: url("../images/Under_construction.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 90px 160px;
  display: inline-block;
  border: 1px solid black;
  border-radius: 10px;
  margin: 2% 3% 0 3%;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
}
.center_img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.library_img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
}
.library_img:hover::before {
  background-color: rgba(0, 0, 0, 0.1);
}
.library_box {
  background-color: #DDDDFF;
  border: 2px solid black;
  padding: 16px;
  margin: 20px 80px 40px 80px;
}