/* Home styles page */
/* General formatting */
body {
  background-color: whitesmoke;
  margin: 0;
  font-family: Arial, sans-serif;
}
hr {
  margin: 5px 0 10px 0;
  border: none;
  border-top: 6px dashed black;
}
/* Image formatting */
.image_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2% 0 1% 0;
}
/* Container for store multiple elements on the same row */
.input_container {
  justify-content: center;
  display: flex;
  margin-left: 1.5%;
  margin-right: 1.5%;
  max-width: 95%;
}
/* Large button formatting */
.navigate_button1 {
  background-image: url("../images/wolfram1D.png");
  color: white;
  padding: 68px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 20px;
  margin: 2% 3% 0 3%;
  cursor: pointer;
}
.navigate_button2 {
  background-image: url("../images/wolfram1D.png");
  color: white;
  padding: 68px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 20px;
  margin: 2% 3% 0 3%;
  cursor: pointer;
}
.navigate_button3 {
  background-image: url("../images/wolfram1D.png");
  color: white;
  padding: 68px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 20px;
  margin: 2% 3% 0 3%;
  cursor: pointer;
}
.navigate_button1:hover,
.navigate_button2:hover, 
.navigate_button3:hover {
  background-color: rgb(32, 32, 32);
}