/* Wolfram's Nearest Neighbor Sequential Simulation styles page */
/* General formatting */
body {
  background-color: #E0D8A7;
  margin: 0;
  font-family: Arial, sans-serif;
}
hr {
  margin: 0;
  border: none;
  background-color: black;
  height: 3px;
  margin-bottom: 10px;
}
ul {
  margin: 0 2.25%;
  font-family: Times;
  font-size: 20px;
  line-height: 1.5;
  text-align: left;
  color: black;
}
.head {
  background-color: #5B507A;
}
/* Large button formatting: used for secondary tool bar */
.simulation_button {
  background-color: #007ACC;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: none;
  font-size: 17px;
  border: 1px solid black;
  border-radius: 20px;
  margin-left: 1.75%;
  margin-right: 1.75%;
}
.simulation_button:hover {
  cursor: pointer;
  background-color: #0062A3;
}
.start_button {
  background-color: #28A745;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: none;
  font-size: 17px;
  border: 1px solid black;
  border-radius: 20px;
  margin-left: 1.75%;
  margin-right: 1.75%;
}
.start_button:hover {
  cursor: pointer;
  background-color: #218838;
}
.stop_button {
  background-color: #C0392B;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: none;
  font-size: 17px;
  border: 1px solid black;
  border-radius: 20px;
  margin-left: 1.75%;
  margin-right: 1.75%;
}
.stop_button:hover {
  cursor: pointer;
  background-color: #A93226;
}
.setup_button {
  background-color: #007ACC;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  border: 1px solid black;
  border-radius: 20px;
  margin-left: 1.75%;
  margin-right: 1.75%;
}
.setup_button:hover {
  cursor: pointer;
  background-color: #0062A3;
}
/* Input (submit) button formatting */
.submit_button {
  padding: 8px 8px;
  border: 1px solid black;
  background-color: #0062A3;
  color: whitesmoke;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
}
.submit_button:hover {
  cursor: pointer;
  background-color: #007ACC;
}
/* Options window formatting */
.options_button {
  display: block;
  width: 80%;
  margin: 0 0 10px 10%;
  padding: 10px;
  font-size: 17px;
  border: 1px solid black;
  border-radius: 10px; 
  background-color: #9570DB;
  color: black;
  cursor: pointer;
}
.options_button:hover {
  background-color: #854bd2;
}
/* Library images */
#random {
  background-image: url("../images/Random.png");
}
#left2right {
  background-image: url("../images/Left2Right.png");
}
#right2left {
  background-image: url("../images/Right2Left.png");
}
#centerOutward {
  background-image: url("../images/Center_outward.png");
}
#edgesInward {
  background-image: url("../images/Edges_inward.png");
}
#centerOutwardR {
  background-image: url("../images/Center_outward_reverse.png");
}
#edgesInwardR {
  background-image: url("../images/Edges_inward_reverse.png");
}
#nSkip {
  background-image: url("../images/Nskip.png");
}