/* Wolfram's Nearest Neighbor 1D Simulation styles page */
/* Display canvas formatting */
.lattice_region {
  position: absolute;
  background-color: lightgrey;
  border: 3px solid black;
  padding: 1% 1% 1% 1%;
  max-width: 90%;
  margin-top: 12px;
  z-index: 0;
}
.tickmark_region{
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 1% 1% 1% 1%;
  max-width: 90%;
  margin-top: 12px;
}
/* Log box formatting */
.log_box {
  width: 160px;
  height: 25px;
  background-color: lightgrey;
  border: 3px solid black;
  padding: 1% 1% 1% 1%;
  margin-left: 2%;
}
ul {
  margin: 0 2.25%;
  font-family: Times;
  font-size: 20px;
  line-height: 1.5;
  text-align: left;
  color: black;
}
/* Iteration count formatting */
.iteration_output {
  font-size: 17px;
  line-height: 0;
  margin: 0;
  margin-left: 8%;
  margin-top: 20px;
}
/* Toggle bar formatting */
.toggle_bar {
  width: 50px;
  height: 25px;
  background-color: #ffffff;
  border-radius: 12.5px;
  position: relative;
  cursor: pointer;
}
.toggle_button {
  width: 25px;
  height: 25px;
  background-color: rgb(0, 140, 255);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.4s ease;
}
.toggle_label {
  margin: 3px 7px;
  font-size: 17px;
}
/* Checkbox container and formatting */
.checkbox_container {
  display: none;
  margin-top: 10px;
}
.checkbox_select {
  margin-left: 8px;
  width: 18px;
  height: 18px;
  vertical-align: middle;
}
.checkbox_label {
  font-size: 14px;
}
